<template>
  <div class="keyboard">
      <div id="container-alphanumeric">
          <div v-for="([key,column]) in letters_set" 
            v-bind:key="key">
              <div class="row" id="column">
                  <div  v-for="item in column" v-bind:key="item.id">
                      <button 
                        id="char"
                        type="button"
                        class= "col-item col-1 character"
                        v-on:click="queryLetter(item.letter)"
                        >
                        {{item.letter}}
                      </button>
                  </div> 
              </div>      
          </div>
      </div>
    </div>
    <div class="search-results">
      <h2>RESULTADOS DE LA BÚSQUEDA</h2>
  </div>
</template>


<script setup lang="ts">
import { defineComponent, PropType } from 'vue';
//import { defineProps, defineEmits } from 'vue'
import * as d3 from "d3";

/*
map letters with urls
request = url + api + ^letter
*/

// return {
// "letters_set" : letters_set,
// }
// },

const props = defineProps({
    "letters":{type: Array as PropType<Array<string>>, required:true}, 
    "url":{type:String, required:true}, 
    "api":{type:String, required:true}, 
    "columns":{type:Number, required:true},
    "mode":{type:String, required:true},
})

let letters_set = orderCollection(props.letters, props.columns);

const emit = defineEmits(['queryUrl']);

function orderCollection(letters:string[], columns:number){
    let items = [...letters.entries()].map(([key, letter])=> {return {
      id:key,
      letter:letter,
    }});
    let newCollection = d3.group(
        items, 
        (item) => (item.id/columns)>>0);
    return newCollection;
}

function queryLetter(item:string){ 
    const start:string ="^";
    const query:string = `${props.url}${props.api}/?${props.mode}=${start}${item}`;
    console.log("Query>", query)
    emit("queryUrl", query);
}
</script>

<style>

body {
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 12.5px;

}

h2 {
  text-align: center;
}

/*.keyboard{
  background: red;
}*/

.character{
  margin:10px;
  width: 60px;
  padding: 9px 9px 10px;
}
    
#char {
  margin: 1.5px;
}


/* div "Resultados de la búsqueda" */
.search-results {
  color: #666; 
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 11px;
}
    

/*searh class="result" in div {{search}}*/
.result{
  font-weight: bold;
  color: #2B6E8E;
  margin-left: 5px;
}


/*input id="text" for search*/
  
#container-alphanumeric {
  margin: 5px auto;
  background-color: white; /*color de fondo del teclado*/
  max-width: 730px;
  min-width: 300px;
  border-radius: 5px;
  padding-top: 0px;
  /*background: green;*/
  
}

.row { 
  display:flex;
  flex-wrap: wrap;
  color: rgba(0,0,0,1);
 /* font-weight: 9;*/
  text-shadow: none;
  margin: 0 50px;
}


.col-item {
/*  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 1;*/
  background-color:  #2B6E8E;
  /*border: 1.5px solid #dedede;*/
  border-radius: 10px; 
}

.col-1 {
  max-width: calc(100% / 1);
  background: #eaecef; /* #cbbcf6 */
  transition: all 0.16s ease-in;
}

.title {
  font-weight: 100;
  padding: 10px;
  text-align: center;
  color: #1e40af;
}

.hi {
  color: #aaa;
  text-align: center;
  padding: 10px;
  margin: 10px;
}



/*hover*/
button{
  font-weight: bold;
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 14px; 
  cursor:pointer;
  color: #838796;
 /* font-weight: lighter;*/
  box-shadow: 0 2px 2px rgba(0,0,0,.2) inset, 0 0 0 rgba(0,0,0,0);
  margin: 0 10px;
  border: none;
}


/*font-weight: bold;
    font-family: Open Sans,sans-serif,Verdana;
    font-size: 14px; 
*/
button:hover {
  color: white;
  background-color: #22A2D0;
  font-weight: bold;
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 14px; 
  box-shadow: 0 0 0 rgba(0,0,0,0) inset,
      0 2px 2px rgba(0,0,0,.1),
      0 4px 4px rgba(0,0,0,.1),
      0 8px 8px rgba(0,0,0,.1);
}

button:active {
  background: rgba(0,0,0,.02);
  box-shadow: 0 -4px 4px rgba(0,0,0,.1) inset, 0 0 0 rgba(0,0,0,0);
}

@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }
   .col-item {
     min-width: 100%;
     width: 100%;
     margin: 10px 0;
  }
}

</style>
