<template>
  <div class="content">
<div class="group-concept">
    <b id="concept">☞ {{item.concept}}:</b>
</div>
<div class="group-definition">
<p id="definition"><i>★ {{item.definition}}</i></p> 
</div>
</div>
</template>


<script setup lang="ts">
import { PropType } from 'vue';
import { Definition } from '../interfaces/Definition';

const props = defineProps({
    item: {
      type: Object as PropType<Definition>, 
      required: true
    }
})
</script>


<style scoped>

body {
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 12.5px;
}

 #concept {
   margin-left: 55px;
   color:#3B393A;
   font-size: 16px;
   text-transform: uppercase;
 }

 #definition {
   color: #3B393A;
   margin-left: 55px;
   margin-right: 55px;
   margin-top: 2px;
   margin-bottom: 10px;
   text-align: justify;
   font-size: 14.5px;
 }
</style>
