<template>
<div v-for="group in groups.dataset" v-bind:key="group.letter">
  <group_definition :group="group"/>
</div>
</template>

<style scoped>

body {
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 12.5px;
}

</style>


<script setup lang="ts">
import { PropType } from 'vue';
import {DatasetGroupDefinition} from '../interfaces/DatasetGroupDefinition';
import group_definition from './group_definition.vue';

const props = defineProps({
      groups:{type:Object as PropType<DatasetGroupDefinition>, required:true}
    })
</script>
