<template>
  <search
    :url="properties.url"
    :api="properties.api" 
    :search="properties.search"
    :mode="mode"
    @queryUrl="queryUrl"></search>
  <alphabet
    :letters="properties.letters"
    :url="properties.url"
    :api="properties.api" 
    :columns="properties.columns"
    :mode="mode"
    @queryUrl="queryUrl"></alphabet>
    <div class="pagination">
    <button
      type="button"
      class="page-previous step-page"
	  :class="{active:previousNotNull}"
      v-on:click="lookPrevious(previous)"
    >
      <font-awesome-icon :icon="['fas', 'chevron-circle-left']"  />
    </button>
    <button
      type="button"
      class="page-next step-page"
	  :class="{active:nextNotNull}"
      v-on:click="lookNext(next)"
    >
     <font-awesome-icon :icon="['fas', 'chevron-circle-right']"  />
    </button>
  </div>
  <dictionary :groups="data_dictionary"></dictionary>  
</template>


<script setup lang="ts">
 // This starter template is using Vue 3 <script setup> SFCs
 import { defineComponent, PropType, ref, computed } from 'vue';
 // Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
 import { Definition } from '../interfaces/Definition';
 import { GroupDefinition } from '../interfaces/GroupDefinition';
 import { DatasetGroupDefinition } from '../interfaces/DatasetGroupDefinition';
 // contrib modules
 import axios from 'axios';
 import * as d3 from "d3";
 /*
    Icons from FontAwesomeIcon
  */
 import { FontAwesomeIcon } from '../plugins/font-awesome';
 /*  ends icons */
 /* Components for this app*/
 import group_definition from './group_definition.vue';
 import dictionary from './dictionary.vue';
 import alphabet from './alphabet.vue';
 import search from './search.vue';
 //

 let data_dictionary = ref<DatasetGroupDefinition>({
   name: "Diccionario",
   dataset: []
 })

 let mode = ref<string>("search");
 let next = ref<string|null>(null);
 let previous = ref<string|null>(null);


 let nextNotNull = computed(()=> next.value? true:false);
 let previousNotNull = computed(()=>previous.value? true:false);


 /*
	https://v3.vuejs.org/api/sfc-script-setup.html#defineprops-and-defineemits

	const props = defineProps({
	foo: String
	})

	const emit = defineEmits(['change', 'delete'])
	// setup code

  */

 const props = defineProps({
   element: {
     type: String, 
     default:"glosary-properties"
   }
 })


 let properties = {
   "url": "http://localhost:8000",
   "api": "/api/glosario",
   "search": "gnss",
   "letters": [],
   "columns": 8,
   ...readProperties()
 }


 let dataset:Definition[] = [];
 
 function readProperties(){
   const json_html_element: HTMLElement = document.getElementById(props.element)!;
   let json:string = typeof json_html_element !== 'undefined'? json_html_element.textContent!:"{}";
   let properties = JSON.parse(json);
   if (typeof properties.letters === 'undefined') {
     properties.letters = createAlphabet();
   }
   if (properties.letters.length===0) {
     properties.letters = createAlphabet();
   }
   if (typeof properties.columns === 'undefined' || properties.columns <=5) {
     properties.columns = 10;
   }

   return properties;
 };

 function createAlphabet():Array<String>{
   const alpha = Array.from(Array(26)).map((e, i) => i + 65);
   let alphabet = alpha.map((x) => String.fromCharCode(x).toUpperCase());
   let index_n = alphabet.indexOf("N");
   alphabet.splice(index_n, 0, "Ñ");
   const numbers = [0,1,2,3,4,5,6,7,8,9];
   const numeric = numbers.map((x) =>  x.toString());
   let alphanumeric = numeric.concat(alphabet);
   return alphanumeric;
 };

 function getList(){
   axios.get("api").then((response: any)=>{
     console.log("respuesta", response)
   })
 };

 function searchText(search:string){
   let item = search;
   const query = `${properties.url}${properties.api}/?${mode.value}=${item}`;
   queryUrl(query);
 };

 function queryUrl(query:string|null){
   if (query !== null){
     axios.get(query).then((response:any) => {
       if (response.status===200){
         onChangeGroup(response)}
       else{
         console.log("Bad response", response.status);
       }
     } );
   } else {
     console.log("Link is null")
   }
 };

 function inContent(event:Event){
   let checkbox:boolean = event.returnValue;
   if (checkbox === true){
     mode.value = "search_def"
   } else {
     mode.value = 'search'
   }
 };
 
 function compare( a:Definition, b:Definition ) {
   if ( a.concept < b.concept ){
     return -1;
   }
   if ( a.concept > b.concept ){
     return 1;
   }
   return 0;
 }

 function createGlosary(dataset:Array<Definition>){
   dataset.sort(compare);
   let collection = d3.group(dataset, item => {
     return item.concept.substring(0, 1);
   });
   data_dictionary.value = {
     name: "dictionary",
     dataset: Array.from(collection, ([letter,group]) => {
       let new_group:GroupDefinition = {
         letter:letter,
         items:group
       }
       return new_group;
     })
   };
 };


 function onChangeGroup(response:any){
   //debugger
   let dataset = response.data.results;
   next.value = response.data.next;
   previous.value = response.data.previous;
   createGlosary(dataset)
 };

 function lookPrevious(previous:string|null){
   if (previous){
     queryUrl(previous);
   } else {console.log("No link")}
 };
 function lookNext(next:string|null){
   if (previous){
     queryUrl(next);
   } else {console.log("No link")}
 };
</script>


<style>



 .input-search{
   margin-top: 3px;
   display: inline-flex;
   flex-direction: column;

 }

 .lookfor {
   position: relative;
   top: 3px;
 }

 /*#text {
    margin-top: 25px;
    width: 200px;
    height: 20px;
    border-radius: 2.5px;
    }*/



 label{
   margin-left: 43px;
   margin-top: -20px;
 }

 #message{
  margin-top: 4px;
   padding: 0.1px;
   margin-left: 20px;
   color: #666;

 }

 #result-message{
   color:#2B6E8E; /*color "resultado de la BUSQUEDA"*/
   font-weight: bold;
 }

 #checkbox_content {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: relative;
   top: 3px;
   left: 5px;
   margin-left: 15px;
   cursor: pointer;
 }

 .pagination {
   display: flex;
   justify-content: space-between;
   margin: 5px 30px;
 }

 .page-previous {
   margin-left: 20px;
   border-radius: 90px;
   transition: all 0.16s ease-in;
   font-size: 20px;
 }

.page-previous:hover {
  font-size: 20px;
}

 .page-next {
   border-radius: 90px;
   transition: all 0.16s ease-in;
   font-size: 20px;
 }

.page-next:hover {
  font-size: 20px;
}

.step-page {
  margin: 5px;
}


 .step-page.active {
   color:black;
   background-color:#EAECEF;
   font-size:20px;
   font-weight: 900;
   box-shadow: 0 0 0 rgba(0,0,0,0) inset,
   0 2px 2px rgba(0,0,0,.1),
   0 4px 4px rgba(0,0,0,.1),
   0 8px 8px rgba(0,0,0,.1); 
 }

 .step-page.active:hover {
   color:#22A2D0;
   background-color:#EAECEF ;
   font-size:20px;
   font-weight: 900;
   box-shadow: 0 0 0 rgba(0,0,0,0) inset,
   0 2px 2px rgba(0,0,0,.1),
   0 4px 4px rgba(0,0,0,.1),
   0 8px 8px rgba(0,0,0,.1);
 }


</style>
