<template>
  <div class="group-letter">
    <h4 id="initial-letter">{{group.letter}}</h4>
  </div>
  <section v-for="item in group.items" v-bind:key="item.id">
	<definition :item="item"/>
  </section>  
</template>

<style type="text/css">

#initial-letter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  margin-left: 0px;
  color: white;
  font-size: 20px;
  font-family: Open Sans,sans-serif,Verdana;
  text-transform: uppercase;
  background-position: left-bottom;
}

.group-letter {
 /* background: linear-gradient(to right, #22A2D0, #1a7fa3);*/
  background: #22A2D0;
  border-radius: 8px 8px 0px 0px;
  font-family: Open Sans,sans-serif,Verdana;

}
</style>

<script setup lang="ts">
import { PropType } from 'vue';
import { GroupDefinition } from '../interfaces/GroupDefinition';
import definition from './definition.vue';

const props = defineProps({
   group: {type:Object as PropType<GroupDefinition>, required:true}
    })
</script>
