<template>
  <section>
    <div class="input-search">
      <input 
        id="text" 
        v-model="search"
        >
      <input 
        id="checkbox_content" 
        type="checkbox" 
        v-model="in_content"
        @change="inContent(in_content)">
      <label 
        for="checkbox_content">
        Definición
      </label>
      <div id="message">
        Buscando <b id="result-message">"{{search}}"</b>
      </div>
      </div>
      <button 
        type="button" 
        class="search" 
        v-on:click="searchText(search)">🔍 Buscar</button>
  </section>
</template>

<script setup lang="ts">
import { defineComponent, PropType, ref } from 'vue';

let mode = ref<string>("search"); 
let in_content = ref<boolean>(false);

const props = defineProps({
   "url":{type:String, required:true},
   "api":{type:String, required:true},
   "search":{type:String, required:true}
 });

let search = ref<string>(props.search)

const emit = defineEmits(["queryUrl"])

function  searchText(search:string){
   let item = search;
   const query = `${props.url}${props.api}/?${mode.value}=${item}`;
   emit("queryUrl", query);
 }

function  inContent(in_content:boolean){
    let checkbox = in_content;
     if (checkbox === true){
       mode.value = "search_def"
     } else {
       mode.value = 'search'
     }
  } 
</script>
<style>
  
body {
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 12.5px;
}

#text{
  transition: all 0.3s ease;
  margin-left: 20px;
  color: black;
  border: 1px dotted #666;
  -webkit-appearance: none;
  font-size: 15.5px;
  color: #666;
}

 #text:valid,
 #text:focus {
   margin-top: 25px;
   border: 0;
   border-bottom: 2px solid #22A2D0;
   outline: none;
   text-align: left;
   font-family: Open Sans,sans-serif,Verdana;
   letter-spacing: 0.5px;
 }

  
.input-search{
   margin-top: 10px;
   margin-left: 19.5%; /*margen izquierdo del div input*/
   display: inline-flex;
   flex-direction: column;
 }

 #checkbox_content {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: relative;
   top: 3px;
   left: 5px;
   margin-left: 15px;
   cursor: pointer;
 }

label {
  color: #666;
  font-size: 14px;
}

#message{
   padding: 0.1px;
   margin-left: 20px;
   font-size: 14px;

 }

 #result-message{
   color:#2B6E8E;
   font-weight: bold;
 }

.search {
    padding:7px;
    border-radius: 5px;
    margin-top:0.7em;
    font-weight: bold;
    font-family: Open Sans,sans-serif,Verdana;
    font-size: 14px; 
}

.search, button{
  font-weight: bold;
  font-family: Open Sans,sans-serif,Verdana;
  font-size: 14px; 
  cursor:pointer;
  color: #838796;
 /* font-weight: lighter;*/
  box-shadow: 0 2px 2px rgba(0,0,0,.2) inset, 0 0 0 rgba(0,0,0,0);
  margin: 0 10px;
  border: none;
}

.line{
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 20px 20px;
    bottom: 20px;
    color: #666;
    font-weight: normal;
    padding: 12px 0;
    border-bottom: 4px solid #ddd;
    font-family: Open Sans,sans-serif,Verdana;
     font-weight: normal;
     font-size: 15px;
    text-transform: uppercase;
}

</style>

